@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 24% 13%;
    --foreground: 0 0% 100%;

    --card: 230 24% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 230 24% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 252 84% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 252 84% 74%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 252 84% 74%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}